<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @eventnotifier.event_name %>
</p>

<p>
  <strong>Event subject:</strong>
  <%= @eventnotifier.event_subject %>
</p>

<p>
  <strong>Event company:</strong>
  <%= @eventnotifier.event_company %>
</p>

<p>
  <strong>Event start:</strong>
  <%= @eventnotifier.event_start %>
</p>

<p>
  <strong>Event end:</strong>
  <%= @eventnotifier.event_end %>
</p>

<p>
  <strong>Event duration:</strong>
  <%= @eventnotifier.event_duration %>
</p>

<p>
  <strong>Event venue:</strong>
  <%= @eventnotifier.event_venue %>
</p>

<p>
  <strong>Event for:</strong>
  <%= @eventnotifier.event_for %>
</p>

<p>
  <strong>Event chairman:</strong>
  <%= @eventnotifier.event_chairman %>
</p>

<p>
  <strong>Event image:</strong>
  <%= @eventnotifier.event_image %>
</p>

<p>
  <strong>Event:</strong>
  <%= @eventnotifier.event %>
</p>

<p>
  <strong>Description:</strong>
  <%= @eventnotifier.description %>
</p>

<p>
  <strong>Event sponser:</strong>
  <%= @eventnotifier.event_sponser %>
</p>

<%= link_to 'Edit', edit_eventnotifier_path(@eventnotifier) %> |
<%= link_to 'Back', eventnotifiers_path %>
